body {
  background-color: rgba(251, 251, 251, 0.864);
}

textarea {
  resize: none;
}

textarea.form-control:disabled, textarea.form-control[readonly] {
  background-color: white;
}

.with_shadow {
  box-shadow: 5px 5px 5px lightgray
}